body {
      
  background-color: #26272A;}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav{
  background: #000000;
  height: 105px;
  width: 100%;
  position: fixed;
  filter: invert(100%);
}
nav img{
 margin: auto;
 padding-top: 20px;
}

.sidelogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
  }
/*



nav,h1{
  animation: invert 60s infinite;
}
@keyframes invert {
  0% {
    filter: invert(0%);

  }

  50% {
    filter: invert(100%);

  }
  100% {
    filter: invert(0%);

  }
}

*/
img {
  pointer-events: none;
  user-select: none;
}
.content{
  pointer-events: none;
  user-select: none;
}