/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Oswald);
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);


body{

  font-family: 'Anonymous Pro', monospace;  
  align-items: center;
}


.texxt{
    top: 50%;  
    margin: 0 auto;
    font-size: 140%;
    text-align: center;
    color: white;
  
}

h1 {
    background: #ffffff;
    padding: 1rem 3rem;
    text-align: center;
    color: #000;
    font-family: "Roboto Condensed", cursive;
}






h2 {
    text-align: center;
    font-size: 180%;
    color: white;
}

::selection {
background: rgb(136, 136, 136);}
