@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;

}

body{ 
	width:100%;
	height:100%;
    background-color: #CCDAFD;
    z-index: -2;

}

.background{
    width: 100%;
    height: 1000px;
    position: fixed;
    z-index: -1;
    background-color: #420e22;
}

.content{
    width: 100%;
    height: 100%;

}

.navbar{
    width: 100%;
    background-color: #CCDAFD;
    font-size: 40px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #420e22;
    font-family: 'Comfortaa', cursive;
}

#img {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:240px;
    border-radius: 50%;
    border: 5px solid #CCDAFD;
    margin-bottom: 50px;
}

.ophen{ 
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;


  }

#typed{

    color: #CCDAFD;
    font-size: 30px;
    font-family: 'Comfortaa', cursive;
}

a{
    color: rgb(250, 242, 228);
}
.typed-cursor {
    color: #CCDAFD;
    font-size: 30px;

}
.elliop{
    text-align: center;
}
