@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1192 {
    margin: 15px;
    padding: 20px;
    width: 250px;
    min-height: 100px;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.2s;
    font-size: 15px;
	/* background blur */
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(8.7px);
	-webkit-backdrop-filter: blur(8.7px);
	border: 1px solid rgba(255, 255, 255, 0.86);
	/* background color white */
	background: rgba(255, 255, 255, 0.174);
	min-height: 300px;
	
}

figure.snip1192:hover {
	transform: scale(1.01);
	
}


figure.snip1192 img {
  max-width: 100%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: #ffffff solid 1px;
  margin-bottom: 15px;
  display: inline-block;
  z-index: 1;
  position: relative;
}

figure.snip1192 blockquote {
	min-height: 160px;
	color: #ffffff;
}


figure.snip1192 .author {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
figure.snip1192 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}
figure.snip1192 .author h5 span {
  font-weight: 400;
  text-transform: none;
  display: block;
}

.testi{
    display: flex;
    justify-content: center;

}